In [1]:
import numpy as np
import pandas as pd

In [2]:
ipl1 = pd.DataFrame({'Team': ['SRH', 'CSK', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches': [14, 14, 14, 14, 14, 14, 14, 14],
                         'Won': [9, 9, 8, 7, 6, 6, 6, 5],
                         'Lost': [5, 5, 6, 7, 8, 8, 8, 9],
                         'Tied': [0, 0, 0, 0, 0, 0, 0, 0],
                         'N/R': [0, 0, 0, 0, 0, 0, 0, 0],
                         'Points': [18, 18, 16, 14, 12, 12, 12, 10],
                         'NRR': [0.284, 0.253, -0.070, -0.250, 0.317, 0.129, -0.502, -0.222],
                         'For': [2230, 2488, 2363, 2130, 2380, 2322, 2210, 2297],
                         'Against': [2193, 2433, 2425, 2141, 2282, 2383, 2259, 2304]},
                         index = range(1,9)
                    )

ipl1

   Team  Matches  Won  Lost  Tied  N/R  Points    NRR   For  Against
1   SRH       14    9     5     0    0      18  0.284  2230     2193
2   CSK       14    9     5     0    0      18  0.253  2488     2433
3   KKR       14    8     6     0    0      16 -0.070  2363     2425
4    RR       14    7     7     0    0      14 -0.250  2130     2141
5    MI       14    6     8     0    0      12  0.317  2380     2282
6   RCB       14    6     8     0    0      12  0.129  2322     2383
7  KXIP       14    6     8     0    0      12 -0.502  2210     2259
8    DD       14    5     9     0    0      10 -0.222  2297     2304

In [3]:
# Display top 5 rows of Team and Points columns

In [4]:
# Display top 2 rows where 
## 'NRR' values greater than 0 and 'For' greater than 'Against'

**Resolving decode issue that pandas facing**

https://raw.githubusercontent.com/nagamounika5/Datasets/master/companies.txt

In [ ]:
df = pd.read_...