In [26]:
import numpy as np
import pandas as pd
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

### Solve below queries
- 1. Select only the rows where the number of visits is greater than 3.
- 2. Select the rows where the animal is a cat and the age is less than 3.
- 3. Replace the nan values of age column with mean-age.
- 4. Calculate the sum of all visits in df (i.e. the total number of visits).
- 5. Count the number of each type of animal in df.
- 6. Change yes or no values in priority column with true or false values.
- 7. print the animal names which are having maximum visits like data frame.

### Min-Max Scaler

**Formula**
- ( Xi - min(X) ) / ( max(X) - min(X) )

In [ ]:
from sklearn.preprocessing import MinMaxScaler