### Strings

- Definition: 
    - sequence of characters
    - defined with double, single or triple quotes.
    - it is an immutable type.
- String Operations : 
    - concatination (+)
    - repetetion (*)
    - memebership operators (in , not in )
- String indexing :
    - Forward or positive indexing
        - 0 to ending
    - backward or negative indexing
        - -1 to beginning of the string
- String Slicing :
    - str_name[start:stop:step]
- String Methods:
    - dir(str)
    - str_name.method_name(parameters)

In [6]:
s1 = 'first string'
s2 = "second string"
s3 = '''third
strin
g'''

In [7]:
print(s1)
print(s2)
print(s3)

first string
second string
third
strin
g

In [8]:
a = "john smith"
'o' in a

True

In [9]:
'n' in a

True

In [12]:
'n s' in a

True

In [21]:
text = "jntuk college of engineering"
text[0]
text[4]
text[9]
text[-1] # 'g'
text[len(text)-1] # 'g'

'g'

In [22]:
text[6:13]

'college'

In [23]:
print(text)

jntuk college of engineering

In [24]:
text[:]

'jntuk college of engineering'

In [25]:
# jtkclee ...
text[::2]

'jtkcleeo niern'

In [27]:
text[1::2]

'nu olg fegneig'

In [28]:
text[::-2]  #

'giengef glo un'

In [29]:
text[::-1]

'gnireenigne fo egelloc kutnj'

In [30]:
s = input("Enter a string: ")
if s==s[::-1]:
    print(True)
else:
    print(False)

Enter a string: level
True

- WAP to check whether a given number is palindrome or not.
```
Example:
    i/p: 1234
    o/p: False
    
    i/p: 12321
    o/p: True
```

In [32]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [39]:
s = 'JnTuk viZiaNaGAraM'
# Z
s.index('Z')
s.index(' ')
s.index('uk')

3

In [40]:
s.find('Z')

8

- Difference b/w index() & find() method is find returns -1 if we search for a non-existing character where index method will raise an error.

In [41]:
s.find('i')

7

In [42]:
s.rfind('i')

9

In [43]:
# count()
s.count('i')

2

In [44]:
s.count('y')

0

In [45]:
s

'JnTuk viZiaNaGAraM'

In [48]:
s.split('a')

['JnTuk viZi', 'N', 'GAr', 'M']

In [52]:
s1 = 'a@c*d@*e*r@*y'
s1.split('@*')

['a@c*d', 'e*r', 'y']

### Afternoon Session

In [9]:
v = 'mTeCH mCa CSe jnTUk'

In [10]:
# capitalize() --> it converts first character to uppercase and remaining letters to lowercase
v.capitalize()

'Mtech mca cse jntuk'

In [11]:
# lower() --> converts entire string to lowercase
v.lower()

'mtech mca cse jntuk'

In [12]:
# upper() --> converts entire string to uppercase
v.upper()

'MTECH MCA CSE JNTUK'

In [14]:
# strip() --> it removes leading and trailing spaces in a given string.
s = "   python workshop   "
s.strip()

'python workshop'

In [17]:
# lstrip() --> removes only leading or left-side spaces
print(s.lstrip())
# rstrip() --> removes only trailing or right-side spaces
print(s.rstrip())

python workshop
   python workshop

In [24]:
# replace() --> replaces an old string or character with new string or char
s = 'python'
s.replace("p",'java')

'javaython'

In [22]:
# join() --> to join a new string or character to entire string.
'*'.join('python')

'p*y*t*h*o*n'

In [25]:
# splitlines() --> it splits the entire string into list of elements based on new line.
info = '''welcome
to python
workshop'''
info.splitlines()

['welcome', 'to python', 'workshop']

In [29]:
# title() --> it coverts each word's first character to uppercase remaining characters to lowercase
s = "this is title method"
s.title()

'This Is Title Method'

In [35]:
# center() --> to adjust the string to a particular length by ajusting the main string at center.
s.center(30,'o')
#s.center(10)

'ooooothis is title methodooooo'

In [36]:
# zfill() --> it will adjust the string to a particular length by adding 0's from left side.
s.zfill(30)

'0000000000this is title method'

- WAP to create a new string by changing lower letters to upper and vice-versa.
````
Example:
    i/p: PYthOn
    o/p: pyTHoN
````

In [39]:
res=''
for i in 'PYthOn':
    if i.islower():
        res += i.upper()
    else:
        res += i.lower()
print(res)

pyTHoN

In [49]:
# startswith()
a = 'jnTuk'
a.startswith('jN')
# endswith()
a.endswith('uk')
# islower() # returns true if the entire string in lowercase
a.islower()
# isupper()
a.isupper()

False

In [41]:
s='PytHon'
s.swapcase()

'pYThON'

In [ ]:
# isalpha() --> returns true if all are characters are alphabets
# isdigit() --> returns true if entire contains only digits
# isalnum() --> true if string is the combination only alphabets and digits
# istitle() --> returns true if it is a title
# isspace() --> returns True if the character is a space.

In [50]:
'python3'.isalpha()

False

In [51]:
'python3'.isalnum()

True

In [52]:
'123'.isdigit()

True

In [54]:
'12 34'.isdigit()

False

### Tasks on Strings

- Take a string from the user and print
    - lowercase characters count
    - uppercase characters count
    - characters count
    - digits count
    - spaces count
- WAP to print vowels count and consonants count using string methods.
- Third Task:
````
Example: i/p: a P s S D c
        o/p: Apssdc
````

In [61]:
# Task-2
s = input("Enter a string: ")
vowel=con=0
for i in s.lower():
    if i.isalpha():
        if i in 'aeiou':
            vowel += 1
        else:
            con += 1
print(vowel,con)

Enter a string: python@123
1 5

In [60]:
# Task3
s = input("Enter a string: ")
''.join((s.split())).capitalize()

Enter a string: a P S s D c

'Apssdc'

### Python Built-in Data Structures.
- List
    - It is an ordered and mutable data structure.
    - declared by using []
    - we can store heterogeneous values.
    - It allows duplicate values.
- Tuple
- Set
- Dictionary